{% extends 'base.html.twig' %}

{% block title pageTitle %}

{% block body %}
    <div class="row">
    {% for item in products %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="card">
                <img class="card-img-top img-responsive center-block" src="{{ item.image }}" alt="{{ item.title }}">
                <div class="card-block">
                    <h4 class="card-title">
                        <a href="{{ absolute_url("/") }}product/{{ item.token }}">{{ item.title }}</a>
                    </h4>
                    <span class="price pull-left">{{ item.price }} Eur</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
