{% extends 'base.html.twig' %}

{% block title pageTitle %}

{% block body %}
    <div class="row">
    {% for item in products %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="card">
                <img class="card-img-top img-responsive center-block" src="{{ item.0.image }}" alt="{{ item.0.title }}">
                <div class="card-block">
                    <h4 class="card-title">{{ item.0.title }}</h4>
                    <p class="card-text"></p>
                    <span class="price pull-left">{{ item.0.price }}</span>
                    <a href="product/{{ item.0.id }}" class="pull-right btn btn-primary">Plačiau</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
